body {
    font-family: Arial, sans-serif;
}

.container {
    margin-bottom: 10px;
}

.bar {
    display: inline-block;
    background-color: red;
    margin-right: 5px;
    color: white;
    text-align: center;
    line-height: 30px; 
    vertical-align: bottom;
    font-size: 14px;
}
