body{
    margin: 0;
    background-image: url(nebulosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: auto;
}
aside{
    color: white;
    border: 5px solid orange;
    background-color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    
    
}